body{
    font-family: 'Lato';
}
.banner-container {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-image: linear-gradient(#ebebeb , #0056B8);
    grid-template-columns: 1fr;
    grid-template-areas: logo
        bcontent;
    height: 63%;
}

.logo-container {
    display: grid;
    grid-area: logo;
    grid-template-columns: 20% 50% 29%;
    grid-template-areas: "img empty profile";
}

.logo-img {
    grid-area: img;

}

.logo-img img {
    width: 100%;
}

.logo-empty {
    grid-area: empty;
}

.profile-area {
    display: grid;
    grid-area: profile;
    padding: 10px;
    box-sizing: border-box;
}

.profile nav {
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
}

.profile .profile-userpic {
    width: 60px;
    border-radius: 50%;
    cursor: pointer;
    margin-top: 10px;
}

.profile .profile-userwelcome {
    color: #fff;
    font-size: 20px;
    margin: 15px 0 0 20px;
    font-weight: 200;
}

.profile .sub-menu-wrap {
    position: absolute;
    top: 100%;
    width: 330px;
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.5s;
    color: #fff;
}

.profile .sub-menu-wrap.open-menu {
    max-height: 215px;
}

.profile .sub-menu {
    background: #79a5d6;
    padding: 20px;
    margin: 10px;
    border-radius: 20px;
}
.profile .user-info {
    display: flex;
    align-items: center;
}
.profile .user-info h3 {
    font-weight: 500;
}
.profile .user-info img {
    width: 60px;
    border-radius: 50%;
    margin-right: 15px;
}
.sub-menu hr {
    border: 0;
    height: 1px;
    width: 100%;
    background: #ccc;
    margin: 15px 0 10px;
}

.profile .sub-menu .sub-menu-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #525252;
    margin: 12px 0;
}

.profile .sub-menu .sub-menu-link p {
    width: 100%;
    color: #fff;
    font-size: 20px;
}

.profile .sub-menu .sub-menu-link img {
    width: 45px;
    border-radius: 50%;
    padding: 8px;
    margin-right: 15px;
}

.profile .sub-menu .sub-menu-link span {
    font-size: 22px;
}

.profile .sub-menu-link:hover span {
    transform: translateX(5px);
}

.profile .sub-menu-link:hover p {
    font-weight: 600;
}

.banner-content {
    grid-area: 'bcontent';
    display: grid;
    grid-template-columns: 4fr;
    grid-template-areas: "txt txt img img";
}

.content-text {
    grid-area: 'txt';
    padding: 10px;
    margin: 0 0 0 15%;
}

.content-img {
    grid-area: 'img';
    padding: 10px;
}

.banner-image {
    width: 45%;
}

.grabberHeading p {
    color: #fff;
    font-size: 35px;
    font-weight: bold;
}

.grabberText p {
    color: #fff;
    font-size: 25px;
    margin: -10 0 15 15;
}

.banner-btn {
    width: 200px;
    height: 40px;
    border-radius: 10px;
    font-size: 20px;
    margin: 0 0 0 15;
    border: solid 2px #fff;
    background-color: transparent;
    color: #fff;
}

.banner-btn:hover {
    background-color: #004493;
}

 .banner-btn:active {
    background-color: #0056B8;
}

.curvebox {
    height: 60%;
    display: grid;
    justify-items: center;
    background-color: #fff;
    grid-template-columns: 1fr;
    grid-template-areas: "curvebox up"
        "info"
        "curvebox down";


}

.curvebox-up {
    grid-area: 'curvebox up';
    width: 100%;
    background-color: #0056B8;
    border-radius: 0 0 50% 50%;

}

.curvebox-info {
    grid-area: 'info';
    height: 100%;
    width: 65%;
}

.curvebox-down {
    grid-area: 'curvebox up';
    width: 100%;
    background-color: #0056B8;
    border-radius: 50% 50% 0 0;
}

.curvebox-h1,
.curvebox-p {
    text-align: center;
    color: #808080;
}
.curvebox-h1{
    font-size: 25px;
}
.curvebox-p {
    font-size: 20px;
}

.featurescontainer {
    display: grid;
    justify-items: center;
    padding: 0 25px;
    background-color: #0056B8;
    grid-template-columns: 1fr;
    grid-template-areas: "features-h1"
        "features-info";
}

.features-h1 {
    grid-area: 'features-h1';
    justify-self: center;
    color: #fff;
    margin-bottom: 20px;
}
.features-h1 h1{
    margin-top: 0;
    font-size: 25px;
}

.features-info {
    display: grid;
    grid-gap: 25px;
    grid-template-columns: repeat(1fr);
    grid-template-areas: "easy powerful instant";
    color: #fff;
}
.easybox, .powerfulbox, .instantbox {
    background-color: #0056B8;
    border: solid 2px #fff;
    border-radius: 10px;
    padding: 10px;
}
.inside-header {
    display: flex;
    align-items: center;
    background-color: #0056B8;
    width: 100%;
    margin: auto;
    justify-content: center;
}
.inside-header img{
    width: 20%;
    margin-right: 10px;
}
.inside-header span {
    color: #fff;
    font-size: 20px;
    font-weight: bold;
}
.chat-container {
    display: grid;
    background-image: linear-gradient(#0056B8, #ebebeb);
    height: 100%;
}
.chat-h1 {
    grid-area: 'chat-h1';
    justify-self: center;
    color: #fff;            
    margin: 40px 0 10px 20px;
}
.chat-h1 h1{
    font-size: 25px;
}
.chat-top {
    display: grid;
    width: 50%;
    height: 100px;
    justify-self: center;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    background-color: #7EA8D6;
}
.chat-center {
    display: flex;
    align-items: center;
    margin: auto;
    padding-bottom: 20px;
}
.chat-center img{
    width: 50px; 
    height: auto; 
    margin-right: 10px; 
}
.chat-center span {
    color: #fff;
    font-size: 30px;
}
.chat-box {
    background-color: #f7f7f7;
    width: 50%;
    margin: -25px 0 20px 0;
    justify-self: center;
    border-radius: 20px;
}
#chat {
    padding: 10px;
    height: 320px;
    overflow-y: auto;            
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.message {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    padding: 8px;
    border-radius: 8px;
    word-wrap: break-word;
}

.message.right {
    background-color: #d3d1d1; 
    justify-content: flex-end;
    text-align: left; 
    box-sizing: border-box;

}

.message.left {
    background-color: #d3d1d1;
    text-align: left;
    box-sizing: border-box;

}

#user-input-container {
    display: flex;
    margin-top: 10px;
}

#user-input {
    flex: 1;
    padding: 5px 10px;
    background-color: #d3d1d1;
    border:none;
    margin-left: 20px;
    margin-right: 5px;
    border-radius: 10px;
}

button {
    padding: 5px;
    background-color: #ffffff;
    border: 2px solid #0056B8;
    border-radius: 10px;
    cursor: pointer;
    margin-right: 20px;
}

button img {
    width: 30px;
    height: 30px;
}
footer {
    background-color: #0056B8;
    color: #ffffff;
    padding: 0px 30px;
    display: flex;
    justify-content: space-between;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
